nltk==3.2.5
pandas==0.23.3
plotly==2.0.15
en_vectors_web_lg-2.1.0.tar.gz
numpy==1.16.4
SQLAlchemy==1.2.18
pycm==2.2
Flask==0.12.4
spacy==2.1.4
langdetect==1.0.7
scikit_learn==0.21.2
pyspellchecker==0.4
cloudpickle==1.2.1
