{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
<div class="form-group">
    &nbsp;
</div>


<div class="container">
  <div class="row">
    <div class="col">
	<div class="well">
	<b>Original: </b>{{query}}<br><b>Processed: </b>{{tokens}}
	</div>
   </div>

    <div class="col">
	<img  class="rounded" src="data:image/png;base64,{{prb_image}}"  data-toggle="modal" data-target="#exampleModal" style="width:90%;height:90%;" ></img>
    </div>
    <div class="col-sm">
    	{{res_table|safe}}
    </div>

    </div>
</div>







{% endblock %}

<div class="well">
  	<div class="panel-body"><b>Original: </b>{{query}}<br><b>Processed: </b>{{tokens}}</div>
  </div>